.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-size: 25px;
  font-style:normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.alumni-sans-pinstripe-800 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 900;
  font-size: 25px;
  font-style:normal;
}
